<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css')}}">
    <title>Welcome | Login</title> 
</head>
<body>
    <div class="login-body">
        <h1>Login</h1>
        <form class="login-form" action="/home" method="post">
            <label>Username</label> 
            <input type="text" name="uname"/>
            <label>Password</label>
            <input type="password" name="password"/>
            <p>Forget Password ?</p>
            <button>Submit</button>
            <label>{{msg}}</label>
            <button><a href="register">Register</a></button>
        </form>
    </div>
</body>
</html>