<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='register.css')}}">
    <title>Register Page</title>
</head>
<body>
    <form name="submit" action="reg" method="post">
        <h1 style="color:white; font-size:1cm ;">Register</h1>
        <div class="inputs">
            <div>
                <p id="place">
                    firstname
                </p>
                <input class="inputbox"  type="text"  required name="name">
            </div>

            <div>
                <p id="place">
                    Email
                </p>
                <input class="inputbox" type="email"  name= "email" required>
            </div>
            <div>
                <p id="place">
                    Username
                </p>
                <input class="inputbox" type="text" name="uname"   required >
            </div>
            <div>
                <p id="place">
                    password
                </p>
                <input class="inputbox" type="text" name="password"   required >
            </div>
            <div>
                <input id="inputbox" type="submit" value="submit" placeholder="register">
            </div>
        </div>
        <button><a href="/">Login</a></button>
    </form>
</body>
</html>

</body>
</html>