body
{
    background-color: rgb(71, 134, 189);
    margin: 0;
}
form
{
    
    margin-top: 3cm;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.inputbox
{
    color: white;
    font-size: 20px ;
    padding-bottom: 12px;
    margin-bottom: 36px; 
    border-bottom:  #2a3fb5;
    border-style: groove;
    border-left: none;
    border-top: none;
    border-right: none;
    background: none;
}
.inputbox:focus{
    outline: none;
    border: none;
    border-bottom-style:groove ;
}
.inputs
{
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;

}
#place
{
    font-size: larger;
    color: rgb(255, 255, 255);
}
