<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>
       Hello I am {{x["NAME"]}} 
    </h1>
    <h3><button><a href="/">LOGOUT</a></button></h3>
    <div class="about1">
        <pre class="about-pre">
            Hello! I'm Hiruthik Vishnu, I am B.E graduate in the domain 
            Electronics and communication Engineering.I am a skilled f-
            rontend developer and graphic designer using photoshop.
        </pre>
    </div>
</body>
</html>