<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='add.css')}}"/>
    <title>Expense Tracker | credit</title>
    <script>
        window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
            window.location.reload();
        }
        });
    </script>
</head>
<body>
    <div class="contain">
        <div class="whole_credit">
            <nav class="side_bar"> 
                <ul>                                        
                    <li class="avator"><img src="{{url_for('static',filename='man.png')}}"/></li>
                    <li>Welcome {{session.get('name')}}</li>
                    <li><a href="/home">Home</a></li>
                    <li>Your Available Balance is {{session.get('income')}}</li>
                    <li><a href="/transactions">Transactions</a></li>
                    <li><a href="/debit">Debit</a></li>
                    <li><a href="/changepass">Change Password</a></li>
                    <li><a href="/logout">logout</a></li>
                </ul>
            </nav>
            <div class="credit_center">
                <form action='/addcredit' method="post">
                    <h1>Please enter your transaction details</h1>
                    <label>Amount</label>
                    <input type="number" name="amount"/>
                    <label>Reason</label>
                    <select  name="reason">
                        <option value="salary">Salary</option>
                        <option value="bonus">Bonus</option>
                        <option value="busniess profit">Busniess Profit</option>
                        <option value="other">Other</option>
                    </select><br/>
                    <button class="btn">Add</button> 
                </form>
            </div>
        </div>
    </div>
</body>
</html>